<div class="mainframe d-flex justify-content-center">
    <div class="subcontent d-grid justify-content-center">
        <div class="user_details">
            <div class="title">
                
            </div>
            <form action="">
                <input type="text" placeholder="Name">
                <input type="email" placeholder="Email">
                <input type="tel" placeholder="Phone no">
                <input type="password" placeholder="Password">
            </form>
        </div>
    </div>
</div>