<div class="mainframe h-100 d-flex justify-content-center ">
<div class="subframe d-flex justify-content-center">
    <div class="illustration d-grid col-6"><img src="../../../assets/jeff-tumale-SD9Jyl1xNQ4-unsplash.jpg" height="380px" width="auto" alt=""></div>
    <div class="subcontent py-4 d-grid col-6 justify-content-center">
        <div class="six9 ">
            <div class="logo d-flex justify-content-center"><span>69</span></div>
            <div class="logotitle d-flex justify-content-center">SIXNINE</div>
        </div>
        <hr style="border-top: 2px solid; opacity: unset; margin: 1rem 0;">
        <div class="user_details row d-grid ">
            <div class="title d-flex justify-content-center">
              <span>Log In</span>
            </div>
            <form [formGroup]="forms" class="d-grid p-0 justify-content-center">
                <div class="form-group p-0">
                    <input  formControlName="login_email"   type="email" placeholder="Email">
                    <input  formControlName="login_pass"   type="password" placeholder="Password">
                </div>
            </form>
            <div class=" signup btn btn-outline-dark d-flex justify-content-center align-items-center rounded-1"(click)="submitdata()">Sign up</div>
            <span>If you don't have an account. <a href="">Sign up</a></span>
        </div>
    </div>
</div>
 
</div>