<div class="mainframe d-flex justify-content-center">
    <div class="subcontent py-4 d-grid justify-content-center">
        <div class="six9 ">
            <div class="logo d-flex justify-content-center"><span>69</span></div>
            <div class="logotitle d-flex justify-content-center">SIXNINE</div>
        </div>
        <hr style="border-top: 2px solid; opacity: unset; margin: 1rem 0;">
        <div class="user_details row d-grid ">
            <div class="title d-flex justify-content-center">
              <span>Sign up</span>
            </div>
            <form  class="d-grid p-0 justify-content-center">
                <div class="form-group p-0">
                    <input type="text" placeholder="Name">
                    <input type="email" placeholder="Email">
                    <input type="tel" placeholder="Phone no">
                    <input type="password" placeholder="Password">
                </div>
            </form>
            <div class=" signup btn btn-outline-dark d-flex justify-content-center align-items-center rounded-1">Sign up</div>
            <span>If you already have an account. <a>Log In</a></span>
        </div>
    </div>
</div>